// @import "variables"

body
    margin: 0
    padding: 0
    font-family: Asap, sans-serif
.content
    width: 1200px
    margin: 0 auto
a, a:hover
  text-decoration: none
li
    list-style-type: none
    display: inline
section
  margin: 100px auto
h2
    width: 300px
    font-size: 36px
    color: #7b7b7b

/* ------------------------------------ */

.block_1
    background: url(../img/bg_element_.png)
header
    display: flex
    justify-content: space-between
.top_logo
    padding-top: 30px
.top_menu_a
    color: #4d4d4d
    font-family: Asap
    font-size: 16px
    font-weight: 400
    line-height: 67px
    margin-left: 40px
.top_menu_a:hover
    border-bottom: 3px solid #727272

/* ------------------------------------ */

.block_2
  display: flex
  justify-content: space-between
  justify-items: center
  padding-bottom: 10px

.block_2_title
    margin-top: 185px
    font-size: 90px
    color: #4d4d4d
.luis
    color: #4d4d4d
    font-family: Asap
    font-size: 90px
    font-weight: 500
    line-height: 67px
.user    
    opacity: 0.54
    color: #4d4d4d
    font-family: Asap
    font-size: 22px
    font-weight: 500
    margin-top: -70px

.ul_1
  margin: -50px -40px
.btn_1
    width: 160px
    height: 50px
    font-size: 16px
    background: #fff
    color: #4d4d4d
    padding: 10px 20px
    box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1)

.btn_1:hover
    transition: 0.25s
    background: #dfdfdf
    border: 1px solid #4d4d4d
    color: #4d4d4d

/* ------------------------------------ */

.block_3
    padding-top: 75px
    padding-bottom: 125px
    display: flex
    justify-content: space-between
    justify-items: center
.block_3  hr
    width: 60px
    height: 4px
    background-color: #212121
    opacity: 0.6
    margin-left: 0px
    margin-bottom: 20px
.block_3_text 
    color: #4d4d4d
    font-family: Asap
    font-size: 16px
    font-weight: 400
    line-height: 26px
    padding-bottom: 36px
.btn_2
    width: 160px
    height: 50px
    font-size: 16px
    background: #fff
    color: #4d4d4d
    padding: 10px 20px
    border: 1px solid black

/* ------------------------------------ */

.block_4
    padding-top: 110px
    background: #f6f6f6
.block_4 hr
    width: 35px
    height: 4px
    background-color: #212121
    opacity: 0.6
    margin: 0px 0px 0px 55px
.block_4 h2
    margin-left: 540px
.fw
    display: flex
    flex-wrap: wrap
    justify-content: center
.fw_1
    display: flex
    justify-content: center
    width: 370px
    padding-left: 30px 
    padding-bottom: 80px

.fw_text
    display: none
    color: #4d4d4d
    font-family: Asap
    font-size: 24px
    font-weight: 500
    line-height: 49px
    width: 370px

/* ------------------------------------ */

.block_5
    padding-bottom: 127px
    display: flex
.block_5 hr
    width: 40px
    height: 4px
    background-color: #212121
    opacity: 0.6
    margin: 0px 0px 0px 60px

.block_5 h2
    margin-left: 540px
    padding-bottom: 60px
.block_5 img
    margin-left: 100px

/* ------------------------------------ */

.block_6
    padding-top: 126px
    padding-bottom: 123px
    background: #f6f6f6
.block_6 hr
    width: 40px
    height: 4px
    background-color: #212121
    opacity: 0.6
    margin: 0px 0px 0px 60px
.block_6 h2
    margin-left: 540px
    padding-bottom: 45px
.fw_2
    padding: 15px

/* ------------------------------------ */

.block_7

/* ------------------------------------ */

.block_8
    background: #f6f6f6
    padding-top: 50px
    padding-bottom: 65px
    margin-bottom: 155px
.block_8 .fw
    justify-content: space-around
    align-items: center
    text-align: center
.fw_8
    width: 270px
.i
    margin-top: -20px
.block_8_text_2
    opacity: 0.9
    color: #212121
    font-size: 22px
    font-weight: 400
    line-height: 32px;
    text-transform: uppercase
    font-weight: 400
.block_8_text_1  
    font-size: 30px
    font-weight: 500

/* ------------------------------------ */

.block_9
    height: 800px
    background: url(../img/contact_bg.png) center center no-repeat
    background-size: cover
    margin-bottom: 0px
    padding-top: 145px
    padding-bottom: 55px
    text-align: center
.block_9 h2
    color: #ffffff
    margin-left: 540px
.b
    width: 60px
    height: 4px
    background-color: #ffffff
    opacity: 0.6
    margin: 0px 0px 0px 60px
.form
    margin-top: 50px
    display: block
    width: 770px
    margin-left: 250px
.form_data
    display: flex
    justify-content: space-between
.block_9_content
    display: flex
    justify-content: space-around
input
    width: 370px
    height: 57px
    padding-left: 25px
    color: #000
    margin-bottom: 25px
    padding-left: 30px 
input:hover 
    background: #bebebe
textarea
    width: 760px
    height: 200px
    margin-left: 5px
    padding: 25px
textarea:hover 
    background: #bebebe

.btn_3
    margin-top: 25px
    margin-bottom: 25px
.btn_3:before 
      width: 16px
      height: 10px
      background: url(../img/row.png) center no-repeat
.btn_3:hover 
      border: 2px solid #000


/* ------------------------------------ */

footer
    
.f_1
    background: #ffffff
    display: inline-block
    width: 30px 
    height: 30px
    margin-left: 5px
.f_1 img
    margin-top: 2px
    
